BankOfBrabant/.vs/BankOfBrabant/v16/Server/sqlite3/storage.ide-wal
BankOfBrabant/.vs/BankOfBrabant/v16/Server/sqlite3/storage.ide-shm
BankOfBrabant/.vs/BankOfBrabant/v16/Server/sqlite3/storage.ide
BankOfBrabant/.vs/BankOfBrabant/v16/Server/sqlite3/db.lock
.vs/slnx.sqlite-journal
.vs/slnx.sqlite
